body {
    color: white;
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 22px;
    font-weight: normal;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-size: 1.8em;
}

a {
    font-size: medium;
    color: aquamarine;
}

video {
    padding: 30px;
}

p {
    color: gray;
}

.image-container {
    padding-bottom: 30px; 
    flex-shrink: 1;
}

.image-container img {
    width: 100%;
    max-width: 896px;
}

footer h3 {
    color: gray;
    font-size: 22px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}